.bf-template-new-badge {
  background-color: #d63638;
  color: #ffffff;
  padding: 3px;
  border-radius: 5px;
  font-size: 10px;
}

.bf-indicator-badge {
  display: inline-block !important;
  min-width: 18px !important;
  height: 18px !important;
  border-radius: 9px !important;
  margin: 7px 0 0 2px !important;
  vertical-align: top !important;
  font-size: 11px !important;
  line-height: 1.6 !important;
  text-align: center !important;
}